.resume{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3rem;
}

.resume h1{
    font-size: 3rem;
    text-align: center;
    margin: 2rem 0;
}

.resume-preview{
    width: max(75vh, 400px);
    min-height: 85vh;
    aspect-ratio: 5/3;
    margin: 0;
}