.navButton{
    border-radius: 8px;
    border: none;
    background-color: inherit;
    height: 100%;
    padding: 1rem;

    font-family: var(--font);
    font-size:1rem;
    font-weight: 500;
}

.navButton:hover{
    font-weight: 600;
    background-color: transparent;
    animation: shake 0.3s;
    animation-iteration-count: infinite;
}

/* .navButton-active{
    text-decoration: underline;
    text-underline-offset: .5rem;
} */

@keyframes shake {
    0% { transform:rotate(0deg); }
    25%{ transform:rotate(1deg); }
    50%{ transform:rotate(0deg); }
    75%{ transform:rotate(-1deg); }
}

@media screen and (max-width: 450px) {
    .navButton{
        font-size: .75rem;
    }
}