 @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root{  
    /*Color palette: Green, pale, pastel violet*/
    --main-bg: rgb(124, 209, 196);
    
    --ghostwhite-75: rgba(248, 248, 255,.75);
    --primary: #95D2F1;
    --secondary: #74A3BF;
    --accent: #EDCD85;

    --font: 'Poppins', 'Sans Serif'
}